<div class="error-container">
    <h1><%= error.status %> - <%= title %></h1>
    <p><%= message %></p>
    <div class="error-actions">
        <a href="/" class="btn btn-primary">Вернуться на главную</a>
    </div>
</div>
